






.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

b,strong {font-weight: bold;}
i, em {font-style: italic;}

.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}

.alignleft {float: left; margin: 10px 15px 10px 0;}
.alignright {float: right; margin: 10px 0 10px 15px;}
.aligncenter {display: block;margin: auto;}


body {background: url('images/bg.png');font: 14px Arial;color: #666;}
a {color: #666;text-decoration: none;}
a:hover {text-decoration: underline;}
.button {background: url('images/menu_current_bg.png') no-repeat;border: none;width: 90px;height: 34px;text-align: center;color: #fff;text-decoration: none;line-height: 30px;display: block;margin-left: 10px;}

.wrapper {width: 1024px;margin: auto;}

.top {background: #fbfbfb;padding: 14px 0;}
.top a:hover {text-decoration: none;}
.top .right {margin-right: 30px;}
.top .right a {margin-top: 2px;}
.logo {display: block; margin: 6px 20px 0 35px;}
.search_form input[type="text"] {background: url('images/search_bg.png') no-repeat;width: 165px;height: 36px;border: none;color: #b2b2b2;padding: 0 13px 0 30px;font-size: 12px;}
.users {margin-top: 5px;}
.signin {padding: 5px 15px 0;}
.top_menu li a {color: #343638;display: block;text-align: center;height: 28px;line-height: 28px;margin: 0 10px;}
.top_menu li.current a {color: #fff;background: url('images/menu_current_bg.png') no-repeat;width: 90px;}
.mobile_menu {display: none;width: 100%;}

.banner {background: url('images/banner_bg.png');color: #fff;}
.banner h1 {font-size: 34px;}
.banner h2 {font-size: 22px;}
.banner img {vertical-align: middle;}
.banner_text {padding: 35px 55px;}
.banner_subtext {font-size: 12px;padding-bottom: 5px;font-weight: bold;}
.connect img {margin-right: 30px;}

.heading_text {padding: 0 19px;line-height: 52px;color: #333;font-size: 16px;}
.heading_text span {color: #19a9d9;}

.products {margin: auto;}
.product {float: left;margin: 5px;background: #fff;border: 1px #b1b1b1 solid;box-shadow: 0 2px 3px #bbb;}
.product_image {position: relative;}
.product_image img {width: 320px;height: auto;display: block;}
.product_price {background: url('images/price_bg.png') no-repeat;position: absolute;bottom: 0; right: 0;line-height: 31px;color: #fff;font-size: 16px;text-align: center;width: 70px;padding-left: 5px;}
.product_title {display: block;color: #19a9d9;font-size: 18px;padding: 10px;}
.product_refresh {background: url('images/ico_refresh.png') no-repeat;width: 30px;height: 30px; display: block;}
.product_cart {background: url('images/ico_cart.png') no-repeat;width: 30px;height: 30px; display: block;}

.footer {background: #fbfbfb;padding: 23px 0;border-top: 1px #dedede solid;color: #999;font-size: 12px;margin-top: 20px;}
.footer_left {padding-left: 19px;}
.footer_right {padding-right: 19px;}
.footer_text {font-size: 18px;display: block;padding-bottom: 5px;color: #0099cc;}
.footer_menu li a {color: #7d7d7d;}
.footer_menu li.current a {color: #19a3d1;}
.copyright {display: block;color: #c2c2c2;text-align: right;padding-bottom: 10px;}

/* #Tablet (Portrait) -> Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrapper {width: 768px;}
}

/* #Mobile (Landscape) -> Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {width: 480px;}
	
	.top .left {float: none;}
	.top a.button {float: left !important;margin: 0 27px 0 3px;}
	.top a.button {float: left !important;}
	.top_menu {display: none !important;}
	.mobile_menu {display: block;}
	.logo {float: none !important;}
}

/* #Mobile (Portrait) -> Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.wrapper {width: 320px;}
	
	.top .left {float: none;}
	.top .right {float: none;margin: 0;}
	.top a.button {float: left !important;margin: 0 27px 0 3px;}
	.top_menu {display: none !important;}
	.mobile_menu {display: block;}
	.logo {float: none !important;}
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}