<!doctype html>
<title>Dibio test</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Flaskr</h1>
  {% block body %}{% endblock %}
</div>
